body {  
  
  font-family: 'Open Sans', sans-serif;
  color: #efefef;
  /*overflow: hidden;*/
}

.topdiv{
	overflow-y: scroll; 
	height:100%;
}
.event {
	/*display: flex;*/
	box-sizing: border-box;
	/*resize: vertical;
	overflow: auto;*/
	position: absolute;
	text-align: left;
	font-size: 12px;
	padding: 3% 5%;
	background-color: #536679;
	width: 100%;
	height: 10%;
	border-color: black;
	border-width: 1.3px;
	border-style: solid;
	z-index: 99;
	border-radius: 5px;
	overflow: hidden;
	/*transition: min-height linear 5.3s;*/
		
}

.event:hover{
	z-index: 999;
	min-height: 5%;
	/*transition: min-height  2s linear; does not work*/
	
	overflow: auto;
	scroll-behavior: smooth;
}

.event_name{
	font-size: 12px;
	font-weight: bold;
}

.event_time{
	position: relative;
	top: 2px;
	font-size: 10px;
}

.event_location{
	position: relative;
	top: 2px;
	font-size: 10px;
	font-style: italic;
}

.event_buttons_container{
	position: absolute;
	bottom: 2px;
	visibility: hidden;
}

.event_button{
	background-color: rgba(0, 0, 0,0.5);
	border: none;
	color: white;
	padding: 3px 6px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 2px;
	border-radius: 5px;
}
.top_menu{
	font-size: 1.5px;
}
.top_menu_button{
	/*background-color: #536679;*/
	background-color: rgb(204,204,204);
	border-radius: 10px 10px 0px 0px;
	position: relative;
	display: inline-block;
	border: none;
	width: 12%;
	height: 4%;
	color: white;
	margin: 0px;
	padding: 0px;
	left: 0px;
	font-size: 12px;
	transition-duration: 0.2s;

}

.top_menu_button:hover{
	background-color: rgb(109, 109, 109);
}

.top_menu_button:active{
	font-weight: bold;
}

.floating_menu{
	position: absolute;
	z-index: 9999;
	top: 50%;
	left: 50%;
	padding: 3%;
	background-color: gray;
	border-radius: 20px;
	visibility:  hidden;
	transform: translate(-50%, -50%); /* force centered position*/
	opacity: 1;
	transition: 0.3s ease-in-out;


}

.day {
	position: relative;
	float: left;
	width: 12%;
	height: 150vh; /*vh = Relative to 1% of the height of the viewport*/	
	/*-webkit-height: 100%; */
	background-color: #ffffff;
	background-image: linear-gradient(rgba(0,0,0,.2) 50%, transparent 50%);
	/*background-size: 1px 10%;*/
	background-size: 100% 10%;
	background-repeat: repeat-y;
	border-width: 0.5px;
	border-color: #FFFFFE;
	border-style: solid;	
}

.day_name {
  position: relative;
  height: 5%;
  background-color: #536679;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  line-height: 7.5vh;  
}

.hour {
  position: relative;
  height: 5%;
  background-color: rgba(83, 102, 121,0.5);
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  line-height: 7.5vh;  
}

.bgblue {
	background-color: #8a9dec;
}

.bgred {
	background-color: red;
}
.bgorange{
	background-color: orange;	
}

.bggreen{
	background-color: green;	
}

.bgyellow{
	background-color: rgb(204, 204, 15);	
}